.fade-io-y-enter {
  opacity: 0;
  transform: translateY(15px);
}
.fade-io-y-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-io-y-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-io-y-exit-active {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 300ms, transform 300ms;
}
